<?xml version="1.0"?>
<config>
    <modules>
        <Bookstore_Product>
            <version>0.1.0</version>
        </Bookstore_Product>
    </modules>
    <global>
        <blocks>
            <bookstore_product>
                <class>Bookstore_Product_Block</class>
            </bookstore_product>
            <catalog>
                <rewrite>
                    <product_list>Bookstore_Product_Block_Catalog_Product_List</product_list>
                    <product_view>Bookstore_Product_Block_Catalog_Product_View</product_view>
                </rewrite>
            </catalog>
        </blocks>
    </global>
</config>