<?xml version="1.0"?>
<config>
    <modules>
        <Bookstore_Ajax>
            <version>0.1.0</version>
        </Bookstore_Ajax>
    </modules>
    <global>
        <blocks>
            <bookstore_ajax>
                <class>Bookstore_Ajax_Block</class>
            </bookstore_ajax>
        </blocks>
        <helpers>
            <bookstore_ajax>
                <class>Bookstore_Ajax_Helper</class>
            </bookstore_ajax>
        </helpers>
    </global>
    <frontend>
        <routers>
            <bookstore_ajax>
                <use>standard</use>
                <args>
                    <module>Bookstore_Ajax</module>
                    <frontName>ajax</frontName>
                </args>
            </bookstore_ajax>
        </routers>
        <layout>
            <updates>
                <bookstore_ajax>
                    <file>ajax.xml</file>
                </bookstore_ajax>
            </updates>
        </layout>
    </frontend>
</config>