/* This Css will overwrite classes */
/* Main Stuff */
body {
}

a{
    font-size: 13px;
    color: #333;
}

a:hover {
    color:#FA9221;
    text-decoration:underline;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Crete Round', serif;
}

li{list-style: none}
h3 {
    margin:0;
}
label {
    display: inline-block;
    font-size: 13px;
    font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
    font-weight: 600;
    color: #333;
    padding: 3px;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.label{
    color: #333;
}
textarea{
    max-width: 450px;
    min-width: 250px;
}
input[type=text], select, select.form-control,
input[type=password]{
    width: 250px;
}
.back-link{
    float:left;
}
.messages .success{
    background: #FA9221;
    padding: 5px;
    font-style: italic;
}
.messages .error-msg{
    background: #FA9221;
    padding: 5px;
    font-style: italic;
}
#cart-sidebar .glyphicon,table .glyphicon{color: #FA9221;}
#cart-sidebar a, table a, .block-wishlist a,.block-compare a{
    color: #FA9221;
}
/*Bootstrap fix*/
p.required, .validation-advice {
    margin: 5px 0 0;
    color: red;
    font-size: 13px;
}
.input-text.validation-failed {
    border-color: red;
}
.input-box:after {
    content: '';
    display: table;
    clear: both;
}
.form-inline {margin-bottom: 20px;}
/*Global Notice*/
.global-site-notice{text-align: center}
/* Text Banners Background Colors */
#banner-home div.bg-orange {
    background:#f89223;
}

#banner-home div.bg-cyan {
    background:#41b7d8;
}

#banner-home div.bg-darkgrey {
    background:#333;
}

.validation-advice {
    position:absolute;
}

.validation-failed {
    border-color:#d11d1d;
}
label.required:after, span.required:after {
    content: ' *';
    color: red;
    font-weight: normal;
    font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
    font-size: 12px;
}
.form-group li{margin-bottom: 20px;}
.buttons-set{max-width: 445px}
.buttons-set button{float:right;margin-left: 5px;min-width: 140px}
/* Main Sections */
#maincontent {
    min-height:300px;
    margin-bottom:20px;
}

#after-header {
    background:#efefef;
    margin-bottom:10px;
    padding:0;
}
.container { position: relative; }

/****************************/
/* HEADER *******************/
/****************************/
/* TopBar */
#topbar {
    background:none repeat scroll 0 0 #000;
    color:#FFF;
    font-size:12px;
    padding:10px 0 0;
    border-bottom:3px solid #FA9221;
}

#topbar ul {
    margin:5px 0 0;
}

#topbar a {
    color:#9F9F9F;
}

#topbar a:hover {
    color:#f89223;
}

#topbar .user-links .welcome {
    padding:10px;
}

#topbar .user-links ul {
    background:none repeat scroll 0 0 #FA9221;
    margin:0;
    padding:10px;
}

#topbar .user-links a {
    color:#fff;
}

/* Header */
#header {
    padding-top:10px;
}

#header .logo {
    display:block;
}

/* Top Cart */
#header .block-topcart {
    margin-top:5px;
    padding:14px 20px 10px;
    position:relative;
}

#header .block-topcart .block-title {
    font-size:15px;
    margin-bottom:0;
    padding:0;
    border:0;
}

#header .block-topcart p.empty, #header .block-topcart p.amount {
    font-size:12px;
    color:#666;
    font-style:italic;
}

#header .block-topcart .block-content {
    background:none repeat scroll 0 0 #FFF;
    border-top:3px solid #FA9221;
    box-shadow:0 0 3px rgba(0,0,0,0.28);
    padding:15px;
    position:absolute;
    width:100%;
    z-index:0;
    transition:all .5s;
    -moz-transition:all .5s;
    -webkit-transition:all .5s;
    opacity:0;
    top:105px;
    visibility:hidden;
}

#header .block-topcart:hover .block-content {
    opacity:1;
    top:65px;
    z-index:999;
    visibility:visible;
}

#header .block-topcart .block-subtitle {
}

#header .block-topcart ol {
    list-style-type:none;
    padding:0;
    overflow:hidden;
}

#header .block-topcart ol li {
    width:100%;
    float:left;
    clear:both;
    position:relative;
    margin-bottom:10px;
}

#header .block-topcart ol li a.product-image {
    display:block;
    float:left;
    width:25%;
}

#header .block-topcart ol li .product-details {
    float:left;
    width:65%;
}

#header .block-topcart .product-details .product-name {
    margin:0;
}

#header .block-topcart .product-details .product-name a {
    font-weight:700;
    font-size:12px;
}

#header .block-topcart a.btn-edit,#header .block-topcart a.btn-remove {
    position:absolute;
    right:0;
    top:0;
    display:block;
    text-indent:-99999px;
    height:15px;
    width:15px;
}

#header .block-topcart a.btn-edit {
    background:url(../images/btn_edit.gif) no-repeat center center;
}

#header .block-topcart a.btn-remove {
    background:url(../images/btn_gm-close.gif) no-repeat center center;
    top:20px;
}

#header .block-topcart ol li .product-details {
}

#header .block-topcart .actions {
    clear:both;
}

/* Navbar */
.navbar {border:0 none;border-radius:0;margin:0;border-bottom:3px solid #E7E7E7;}
.navbar .navbar-form {padding-right:10px;}
.navbar-nav {}
.navbar-default .navbar-nav > li:hover > a {background:#fff;box-shadow:0 6px 12px rgba(0,0,0,0.176);}

.navbar ul.level0,.navbar ul.level1 {display:none;text-align:left;}

.navbar .dropdown-menu {border:0;}

.navbar ul.level1 {left:150px;top:0;}

.navbar-nav > li {display:inline-block;}

/* Breadcrumbs */
.breadcrumb {font-size:12px;}
.breadcrumb li{display: inline}
.breadcrumb li+ li:before {color: #CCCCCC;content: "/ ";padding: 0 5px;}
/****************************/
/* FOOTER *******************/
/****************************/
#footer {
    background-color:#FA9221;
    color:rgba(0,0,0,0.3);
    padding:20px 0;
    border-bottom:5px solid #333;
    font-size:12px,;
}

#footer h4 {
    color:rgba(0,0,0,0.6);
    font-size:14px;
}

#footer ul {
    list-style-position:inside;
    padding:0;
    margin:0;
}

#footer a {
    color:rgba(0,0,0,0.5);
    font-size:12px;
}

#footer a:hover {
    color:rgba(0,0,0,0.8);
}

#footer hr {
    border-color:rgba(0,0,0,0.2);
    border-style:dotted;
}

/* Social Icons */
#footer .footer-social a {
    display:inline-block;
    font-size:12px;
    line-height:24px;
}

#footer .footer-social a span {
    background:url(../images/sprite-social.png) no-repeat scroll 0 0 rgba(0,0,0,0);
    display:inline-block;
    float:left;
    height:24px;
    margin-right:6px;
    padding-left:20px;
    width:24px;
}

#footer .footer-social a.ico-facebook span {
    background-position:0 0;
}

#footer .footer-social a.ico-twitter span {
    background-position:-40px 0;
}

#footer .footer-social a.ico-google span {
    background-position:-80px 0;
}

#footer .footer-social a.ico-facebook:hover span {
    background-position:0 -28px;
}

#footer .footer-social a.ico-twitter:hover span {
    background-position:-40px -28px;
}

#footer .footer-social a.ico-google:hover span {
    background-position:-80px -28px;
}

/****************************/
/* SIDEBAR *******************/
/****************************/
.sidebar {
    padding-top:25px;
}

/* Generic Block */
.block {
    margin-bottom:10px;
}

.block .block-title {
    padding-bottom:10px;
    border-bottom:1px solid #E7E7E7;
    margin-bottom:10px;
    font-size:16px;
}

.block .block-content {
}

/* Block Banner */
.block-banner {
}

/* Left Menu */
.block-leftnav {
}

.block-leftnav .block-content {
}

.block-leftnav .block-content ul {
    padding:0;
    list-style-position:inside;
}

.block-leftnav .block-content ul li {
}

.block-leftnav .block-content ul li.active {
    background:#333;
    color:#fff;
    padding-left:10px;
}

.block-leftnav .block-content ul li.active a {
    color:#FA9221;
}

.block-leftnav .block-content ul li a {
    font-size:13px;
    color:#333;
}

.block-leftnav .block-content ul li a:hover {
    color:#FA9221;
}

.block-leftnav .block-content > ul > li.level0 {
    border-bottom:1px solid #E1E1E1;
    padding:10px;
}

.block-leftnav .block-content > ul > li.level0:last-child {
    border-bottom:0;
}

.block-leftnav .block-content > ul > li.level0:hover {
    background-color:#efefef;
}

.block-leftnav .block-content > ul > li.level0 > a {
    font-weight:700;
}

.block-leftnav .block-content ul ul {
    padding-left:15px;
}

.block-leftnav .block-content ul ul ul a {
    color:#999;
}
.products-grid li img {
}

.products-grid li:hover img {
    /* transform:scale(1.2); */
}

.products-grid li .item-container {
    -webkit-perspective:300px;
    -moz-perspective:300px;
    -ms-perspective:300px;
    perspective:300px;
    margin:0 auto;
    height:250px;
    margin-bottom:10px;
    width:100%;
}
/*Left Category Layer*/
.short-description{
    clear: both;
}
.col-left.sidebar,.col-right.sidebar{
    display: block;
    background: #f9f9f9;
    border: 1px solid #c6c6c6;
    -webkit-box-shadow: 0px 4px 10px 0px rgba(149,149,149,0.31);
    -moz-box-shadow: 0px 4px 10px 0px rgba(149,149,149,0.31);
    box-shadow: 0px 4px 10px 0px rgba(149,149,149,0.31);
    border-radius: 5px;
}
/* Flip the book on hover */
.products-grid li .item-container:hover .item-flipper {
    -moz-transform:rotateY(180deg);
    -webkit-transform:rotateY(180deg);
    transform:rotateY(180deg);
}

/* Hide the back on hover */
.products-grid li .item-front, .products-grid li .item-back {
    height:240px;
    width:100%;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    backface-visibility:hidden;
    position:absolute;
    top:0;
    left:0;
    background:none;
}
/*Right Sidebar*/
.col-right.sidebar a:hover{
    color: #FA9221;
}
/* Fix z-index for front block to place above the back */
.products-grid li .item-front {
    z-index:2;
}

/* back, initially hidden pane */
.products-grid li .item-back {
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    transform:rotateY(180deg);
    background:none repeat scroll 0 0 #000;
    color:#FFF;
    padding:15px;
}

.products-grid li .item-back .book-info {
    height:180px;
}

.products-grid li .item-back .book-info .h4 a {
    color:#FA9221;
    font-weight:700;
    margin-bottom:10px;
    display:block;
}

.products-grid li .item-back .book-info .short-description {
    font-size:12px;
    color:#ccc;
}

/* Set transition speed */
.products-grid li .item-flipper {
    -webkit-transition:.6s;
    -moz-transition:.6s;
    -ms-transition:.6s;
    transition:.6s;
    -moz-transform-style:preserve-3d;
    -webkit-transform-style:preserve-3d;
    transform-style:preserve-3d;
    position:relative;
}

/****************************/
/* HOME PAGE ****************/
/****************************/
#slider-home {
    text-align:center;
    padding:40px 0;
}

#slider-home .carousel-control.right,#slider-home .carousel-control.left {
    background:none;
}

#slider-home .carousel-indicators {
    bottom:20px;
    left:0;
    margin:0;
    text-align:left;
}

.carousel-indicators li {
    border:0;
    background-color:#333;
}

#slider-home .carousel-indicators li:hover {
    background:#41b7d8;
}

#slider-home .carousel-indicators .active {
    background:#f37541;
    border-color:#f37541;
}
#slider-home .carousel-control { width:30px; }
/* Banner Home */
#banner-home {
}

#banner-home div {
    color:#FFF;
    height:85px;
    margin:25px 0;
    padding:15px;
}

#banner-home h3 {
    font-size:20px;
    margin:0;
    padding:0;
}
.page-title{font-weight: bold;color: #087b44;}
.subtitle{font-size: 24px;color: #087b44;font-weight: bold}
/****************************/
/* Products List ************/
/****************************/

.products-grid {
    list-style-type:none;
    margin:0;
    padding:0;
}

.products-grid li.item {
    margin-bottom:30px;
}

.products-grid .product-name {
    font-size:14px;
    min-height:30px;
    margin:0;
}

.products-grid .panel-footer {
    overflow:hidden;
}
.product-name a {
    font-size: 18px;
    color:#333;
    font-weight: bold;
}
.price{
    font-size: 25px;
    font-weight: bold;
}
.price-box p {
    margin:0;
}

.products-grid .product-image {
    margin-bottom:10px;
    display:block;
}
/*Product List Mode*/
.products-list .item .product-image{
    float: left;
}
/*Pager*/
.toolbar .pager, .toolbar-bottom {
    border-color: #eee;
    border-width: 1px;
}
.sort-by {
    float: right;
    margin-right: 4px;
}
.toolbar .pager .limiter {
    float: right;
    margin-right: 30px;
}
.view-mode label.view {
    display: block;
    float: left;
    line-height: 2.8em;
    padding-left: 10px;
    font-size: .91em;
}
.view-mode {
    float: left;
    display: block;
    overflow: hidden;
    padding-bottom: 0;
    margin: 0;
}
i,a{
    transition: all .8s ease;
    -moz-transition: all .8s ease;
    -webkit-transition: all .8s ease;
    -o-transition: all .8s ease;
}
.view-mode i{
    font-size: 1.16em;
    padding: 9px 8px 7px;
}
.view-mode a {
    color: #aaa;
    background-color: #eee;
}
.view-mode i:hover{
    color: #f0ad4e;
}
.view-mode strong,.sort-by a{
    background-color: #3B4348;
    border-color: #fff;
    border-width: 0px;
    color: #FA9221;
}
.view-mode .grid, .view-mode .list {
    float: left;
    display: block;
    border-radius: 2px;
    -moz-border-radius: 2px;
    transition: background-color .7s ease;
    -moz-transition: background-color .7s ease;
    -webkit-transition: background-color .7s ease;
    -o-transition: background-color .7s ease;
}
.pager a.asc i, .pager a.desc i {
    padding: 0;
    border-radius: 2px;
    -moz-border-radius: 2px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #3B4348;
}
.pager a.asc, .pager a.desc {
    float: right;
    color: #fff;
    font-size: 1.16em;
    position: relative;
    margin-right: 10px;
    margin-left: 10px;
}
.pager a.asc i:hover, .pager a.desc i:hover{
    color: #FA9221;
}
.col-md-6 .category-products .toolbar label{ display: none;}
/****************************/
/* Products View Page ************/
/****************************/
.social-sharing { position:absolute; top:10px; right: 15px; }
/*Customer Page*/
.col-md-6.registered-users{border-left: 1px solid #ddd;}
.fields .field{margin-bottom: 20px}
/*Product View Page*/
input[type=number].qty, input[type=text].qty{width: 40px;}
input[type=text]#productTagName{width: 100px;}
input[type=text]#coupon_code{width: 108px;}
.product-view .add-to-cart .qty-wrapper,
.product-view .add-to-cart .qty-wrapper label {
    margin-right: 7px;
    float: left;
}
.product-view .add-to-cart .qty-wrapper label{
    line-height: 40px;
    float: left;
}
.product-view .add-to-cart-buttons {
    float: left;
    margin-right: 10px;
}
.product-view .add-to-cart .qty-wrapper .qty{float: left;height: 40px;}
.product-view .add-to-cart-buttons button {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    padding: 0px 30px;
    float: left;
    min-width: 160px;
    width: 100%;
}
.availability.in-stock{color:#5cb85c}
.product-view .add-to-links {
    clear: both;
    margin-top: 0px;
    margin-right: 15px;
    float: left;
}
.add-to-links li{
    display: inline;
}
/*Product Collateral Tabs*/
.toggle-content.tabs ul{
    margin:0;
    padding:0;
}
.product-collateral {
    clear: both;
}

.collateral-tabs dd h2 {
    display: none;
}

.box-collateral {
    clear: both;
}

@media only screen and (min-width: 771px) {
    .product-collateral .toggle-tabs {
        display: block;
        width: 100%;
        position: relative;
        border: 1px solid #cccccc;
        background-color: #f4f4f4;
    }
    .product-collateral .toggle-tabs li {
        float: left;
        border-right: 1px solid transparent;
        border-left: 1px solid transparent;
    }
    .product-collateral .toggle-tabs li > span {
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
        user-select: none;
        display: inline-block;
        padding: 0 30px;
        height: 40px;
        line-height: 40px;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 12px;
        position: relative;
        bottom: -1px;
    }
    .product-collateral .toggle-tabs li.current {
        border-right: 1px solid #cccccc;
        border-left: 1px solid #cccccc;
    }
    .product-collateral .toggle-tabs li.current > span {
        background-color: #FFFFFF;
        z-index: 5;
    }
    .product-collateral .toggle-tabs li.current span,
    .product-collateral .toggle-tabs li:hover span {
        color: #FA9221;
    }
    .product-collateral .toggle-tabs li:first-child {
        border-left: none;
    }
    .product-collateral .toggle-tabs:after {
        content: '';
        display: table;
        clear: both;
    }
    .product-collateral > dl {
        width: 100%;
    }
    .product-collateral > dl > dt {
        display: none;
    }
    .product-collateral > dl > dd {
        width: 100%;
        display: none;
        padding: 15px;
        border: 1px solid #cccccc;
        border-top: 0;
    }
    .product-collateral > dl > dd.current {
        display: block;
    }
}
@media only screen and (max-width: 770px) {
    .product-collateral .toggle-tabs {
        display: none;
    }
    .product-collateral > dl > dt {
        margin: 0;
        margin-bottom: 10px;
        color: #636363;
        font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        line-height: 1.4;
        text-rendering: optimizeSpeed;
        text-transform: uppercase;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
        user-select: none;
        font-weight: normal;
        margin-bottom: 0px;
        padding: 7px 10px 7px 24px;
        border-width: 1px;
        border-style: solid;
        border-color: #cccccc;
        position: relative;
        background-color: #f4f4f4;
        display: block;
    }
    .product-collateral > dl > dt:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        display: block;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
        border-top: 4px solid #FA9221;
        border-bottom: none;
        left: 10px;
        top: 50%;
        margin-top: -3px;
    }
    .product-collateral > dl > dd {
        padding: 10px;
        margin: 0;
        border-width: 0 1px;
        border-style: solid;
        border-color: #cccccc;
    }
    .product-collateral > dl > dd:last-child {
        border-width: 0 1px 1px 1px;
    }
    .product-collateral > dl > dt {
        cursor: pointer;
        border-bottom-width: 0;
    }
    .product-collateral > dl > dt:hover {
        color: #FA9221;
    }
    .product-collateral > dl > dt:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        display: block;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-left: 4px solid #FA9221;
        border-right: none;
    }
    .product-collateral > dl > dt.last {
        border-bottom-width: 1px;
    }
    .product-collateral > dl > dd {
        display: none;
    }
    .product-collateral.accordion-open > dl > dt.current {
        border-bottom-width: 1px;
    }
    .product-collateral.accordion-open > dl > dt.current:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        display: block;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
        border-top: 4px solid #FA9221;
        border-bottom: none;
        left: 6px;
        top: 50%;
        margin-top: -3px;
    }
    .product-collateral.accordion-open > dl > dd.current {
        display: block;
    }
}
/*Checkout Page*/
/* ============================================ *
 * Checkout - One Page
 * ============================================ */
.checkout-onepage-index .col-right,
.checkout-onepage-index .col-left {
    display: none;
}

.checkout-onepage-index .col-main {
    width: auto;
    float: none;
}

@media only screen and (min-width: 980px) {
    .checkout-onepage-index .col-main {
        float: left;
        width: 68.75%;
        padding-right: 20px;
    }
    .checkout-onepage-index .col-right,
    .checkout-onepage-index .col-left {
        width: 31.25%;
        display: block;
    }
    .checkout-onepage-index .col-right {
        padding-left: 0;
    }
}
/* -------------------------------------------- *
 * Section Styling - Default
 */
.opc .section .step-title {
    width: 100%;
    border-top: 1px solid #ececec;
    position: relative;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.opc .section .step-title:after {
    content: '';
    display: table;
    clear: both;
}

.opc .section.allow:not(.active) .step-title {
    cursor: pointer;
}

/* Using .no-touch since touch devices emulate hover, thereby making steps look active that are not */
.no-touch .opc .section.allow:not(.active) .step-title:hover {
    background-color: #f4f4f4;
}

.opc .section.active .step-title {
    border-bottom: 1px solid #ececec;
}

.opc .section .step-title a {
    display: none;
}

.opc .section.allow:not(.active) .step-title a {
    display: block;
    float: right;
    line-height: 40px;
    height: 40px;
    padding: 0px 10px;
}

.no-touch .opc .section .step-title a:hover {
    text-decoration: none;
}

.opc .section .step-title .number,
.opc .section.allow.active .step-title .number,
.no-touch .opc .section.allow:hover .step-title .number {
    width: 26px;
    height: 26px;
    text-align: center;
    color: #FFFFFF;
    line-height: 26px;
    background-color: #FA9221;
    display: block;
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -13px;
}

.opc .section.allow .step-title .number {
    background-color: #5cb85c;
}

.opc .section.allow .step-title h2 {
    color: #a0a0a0;
}

.opc .section.allow .step-title:hover h2,
.opc .section.active .step-title h2 {
    color: #FA9221;
}

.opc .section .step-title h2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    height: 40px;
    float: left;
    margin: 0px 4px 0px 45px;
}

.opc .section .step {
    padding: 20px;
}
.opc .section .step:after {
    content: '';
    display: table;
    clear: both;
}
@media only screen and (max-width: 979px) {
    .opc .section .step {
        padding: 10px;
    }
}

.opc h3 {
    font-weight: 500;
}

.opc .buttons-set {
    text-align: left;
}
.opc .buttons-set button.button {
    float: left;
    margin-left: 0;
    margin-right: 10px;
    margin-bottom: 0;
}
.opc .buttons-set p.required {
    float: right;
    margin-left: 5px;
    margin-bottom: 0;
}
.opc .buttons-set a {
    line-height: 20px;
    padding: 5px 5px 5px 0;
}

@media only screen and (max-width: 479px) {
    .opc .buttons-set .button + .buttons-set .button,
    .paypal-express-review .buttons-set .button + .buttons-set .button {
        margin-left: 0;
    }
}
.opc #opc-login .step {
    padding: 0px;
}
.opc #opc-login .buttons-set {
    border-top: 0;
    padding-top: 5px;
}

@media only screen and (max-width: 770px) {
    .opc #opc-login .description,
    .opc #opc-login p.required {
        display: none;
    }
}
#opc-payment .note {
    padding: 10px;
}

/* -------------------------------------------- *
 * This section hides everything but the "Checkout Method" step of the checkout process and fades in the content
 * once the customer progresses to the next step. The purpose of this is to simplify what the customer has to focus on.
 * It is limited to larger viewports since smaller devices are inherently going to be focused solely on the
 * "Checkout Method" step.
 */
.opc.opc-firststep-login .section:not(#opc-login) .step-title,
.opc-block-progress-step-login {
    -webkit-transition: opacity 300ms linear;
    -webkit-transition-delay: 0;
    -moz-transition: opacity 300ms linear 0;
    -o-transition: opacity 300ms linear 0;
    transition: opacity 300ms linear 0;
}

.opc.opc-firststep-login .section#opc-login .step-title .number {
    -webkit-transition: width 80ms linear;
    -webkit-transition-delay: 0;
    -moz-transition: width 80ms linear 0;
    -o-transition: width 80ms linear 0;
    transition: width 80ms linear 0;
}

.opc.opc-firststep-login .section#opc-login .step-title h2 {
    -webkit-transition: margin-left 80ms linear;
    -webkit-transition-delay: 0;
    -moz-transition: margin-left 80ms linear 0;
    -o-transition: margin-left 80ms linear 0;
    transition: margin-left 80ms linear 0;
}

/* When a user progresses from the "Checkout Method" to "Billing Information" for the first time, the              */
/* "opc-has-progressed-from-login" class gets added to the body. Also, the .opc element will only have the         */
/* "opc-firststep-login" class if the first step of the checkout is the "Checkout Method" (eg, not when logged in) */
body:not(.opc-has-progressed-from-login) .opc.opc-firststep-login .section:not(#opc-login) .step-title,
body:not(.opc-has-progressed-from-login) .opc-block-progress-step-login {
    opacity: 0;
}

body:not(.opc-has-progressed-from-login) .opc.opc-firststep-login .section#opc-login .step-title .number {
    width: 0px;
    overflow: hidden;
}

body:not(.opc-has-progressed-from-login) .opc.opc-firststep-login .section#opc-login .step-title h2 {
    margin-left: 0px;
}

/* -------------------------------------------- *
 * Shipping and Payment methods
 */
.sp-methods {
    margin: 0 0 8px;
}
.sp-methods dt {
    margin: 13px 0 5px;
    font-weight: bold;
}
.sp-methods dt:first-child {
    margin: 0 0 5px;
}
.sp-methods dd li {
    margin: 5px 0;
}
.sp-methods label img {
    float: left;
}
.sp-methods label a {
    margin-top: 6px;
    float: right;
    margin-left: 10px;
}
.sp-methods .price {
    font-weight: bold;
}
.sp-methods .form-list {
    padding-left: 20px;
}
.sp-methods .form-list li {
    margin: 0 0 8px;
}
.sp-methods select.month {
    width: 120px;
    margin-right: 10px;
}
.sp-methods select.year {
    width: 96px;
}
.sp-methods input.cvv {
    width: 4em !important;
}
.sp-methods .checkmo-list li {
    margin: 0 0 5px;
    content: '';
    display: table;
    clear: both;
}
.sp-methods .checkmo-list label {
    width: 165px;
    padding-right: 15px;
    text-align: right;
    float: left;
}
.sp-methods .checkmo-list address {
    float: left;
}
@media only screen and (max-width: 479px) {
    .sp-methods .checkmo-list {
        padding-left: 0;
    }
    .sp-methods .checkmo-list label {
        width: 135px;
    }
}
.sp-methods .release-amounts {
    margin: 0.5em 0;
}
.sp-methods .release-amounts button {
    float: left;
    margin: 5px 10px 0 0;
}

/* One Page Checkout */
.block-progress {
    border: 0;
    margin: 0;
    padding-left: 20px;
}
.block-progress .block-content {
    font-size: 13px;
}
.block-progress dt {
    padding-top: 6px;
    margin: 0;
    margin-bottom: 10px;
    color: #636363;
    font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.4;
    text-rendering: optimizeSpeed;
    text-transform: uppercase;
    margin-bottom: 6px;
    text-transform: uppercase;
    font-weight: normal;
    color: #a0a0a0;
}
.block-progress dt.complete {
    color: #636363;
}
.block-progress dd {
    padding-left: 15px;
    margin-bottom: 10px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-style: italic;
}
.block-progress dd address {
    font-style: italic;
}
.block-progress #payment-progress-opcheckout .subtitle {
    margin-bottom: 3px;
}
.block-progress .payment-info dt {
    padding: 0;
    margin: 0 0 3px 0;
    color: #636363;
    font-family: Georgia, Times, "Times New Roman", serif;
    text-transform: none;
    font-style: italic;
    float: left;
    clear: both;
    font-size: 13px;
}
.block-progress .payment-info dt:after {
    content: ': ';
}
.block-progress .payment-info dd {
    float: left;
    margin-bottom: 3px;
    font-size: 13px;
}
.block-progress .payment-info:after {
    content: '';
    display: table;
    clear: both;
}

/* review step */
#checkout-review-table .btn-remove img {
    display: none;
}

/* show/hide "change" link for progress step depend on complete status
 * should be placed in .css file */
.opc-block-progress dt.complete a,
.opc-block-progress dt.complete .separator {
    display: inline;
}

.opc-block-progress dt a,
.opc-block-progress dt .separator {
    display: none;
}

/* On small screens, the progress review content will be moved to the review step via JS. Styled via this CSS: */
#checkout-step-review .opc-block-progress {
    border-left: none;
    padding-left: 0;
}
#checkout-step-review .opc-block-progress .block-title {
    display: none;
}
#checkout-step-review .opc-block-progress .block-content {
    display: block !important;
    padding: 0;
}
#checkout-step-review .opc-block-progress .block-content > dl > div {
    float: left;
    width: 50%;
}
@media only screen and (max-width: 479px) {
    #checkout-step-review .opc-block-progress .block-content > dl > div {
        float: none;
        width: auto;
    }
}
#checkout-step-review .opc-block-progress .block-content .changelink {
    display: none;
}

@media only screen and (max-width: 479px) {
    #checkout-review-table thead > tr > th {
        display: none;
    }
    #checkout-review-table thead > tr > th:first-child {
        display: block;
    }

    #checkout-review-table thead > tr > th:first-child {
        display: block;
    }
}
#checkout-step-review .centinel > p {
    margin-bottom: 10px;
}
#checkout-step-review .centinel iframe {
    width: 100%;
    min-height: 400px;
}
#onepage-checkout-shipping-method-additional-load{
    margin-bottom: 20px;
}
/* Gift options */
.gift-messages-form .item {
    content: '';
    display: table;
    clear: both;
    margin-top: 30px;
}
.gift-messages-form .item h5 {
    font-weight: bold;
}
.gift-messages-form .item .product-img-box {
    width: auto;
    float: left;
    padding-right: 15px;
}
.gift-messages-form .item .details {
    float: left;
}

.gift-message-form .inner-box > div {
    content: '';
    display: table;
    clear: both;
    width: 100%;
    margin-top: 15px;
}
.gift-message-form .inner-box > div.extra-options-container p {
    margin-bottom: 15px;
}
.gift-message-form .gift-wrapping-form label {
    margin-right: 10px;
}
.gift-message-form .gift-wrapping-form img {
    float: left;
}

/* ============================================ *
 * Checkout - Success
 * ============================================ */
.checkout-onepage-success .col-main {
    padding: 0;
    text-align: center;
}
.checkout-onepage-success .buttons-set {
    margin: 10px 0;
    text-align: center;
}
.checkout-onepage-success .buttons-set button {
    float: none;
}
.gift-message-form .gift-wrapping-form .gift-wrapping-design {
    height: 75px;
}
.gift-message-form .gift-wrapping-form .gift-wrapping-design:after {
    content: '';
    display: table;
    clear: both;
}
.gift-message-form .gift-wrapping-form .gift-wrapping-design .image-box {
    margin-right: 5px;
}
.gift-message-form .gift-item {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: solid 1px #ececec;
}
.gift-message-form .gift-item:after {
    content: '';
    display: table;
    clear: both;
}
.gift-message-form .gift-item .product-img-box {
    width: 200px;
}
.gift-message-form .gift-item .product-img-box .product-image {
    width: 75px;
    margin-left: auto;
    margin-right: auto;
}
.gift-message-form .gift-item .product-img-box .product-name {
    display: block;
}
.gift-message-form .gift-item .fieldset {
    margin-left: 200px;
}

@media only screen and (max-width: 770px) {
    .gift-message-form .gift-item .product-img-box {
        width: 100%;
        float: none;
    }
    .gift-message-form .gift-item .fieldset {
        margin-left: 0px;
    }
    .gift-message-form .gift-item .fieldset textarea {
        width: 100%;
    }
}
input[type=text]#city,input[type=text]#postcode{width: 100px;}
.form-group #region_id,.form-group #country{width: 214px}
.discount-form{display: inline-block}
.discount-form .input-box, .discount-form .buttons-set{float: left}
/*Account Page*/
.btn-warning a:hover{color: #000;}
.customer-address-form input[type=text],.customer-account-edit input[type=text],
.customer-account-edit input[type=email]{
    width: 250px;
}
.wishlist-index-index textarea{min-width: 200px;max-width: 250px;}